.emailcompose {
    position: fixed;
    /* background-color: transparent; */
    background-color: rgb(191, 180, 201);
    bottom: 0;
    right: 30px;
    width: 600px;
    height: 57%;
}

.email-edit .close-btn {
    position: absolute;
    top: 2em;
    right: 2em;
}
