@media only screen and (min-width: 600px) {
  .emailfilter {
    grid-area: emailfilter;
    padding: 10px;
    gap: 15px;
    align-items: center;
    display: flex;
  }

  .emailfilter-field {
    display: inline;
    grid-area: f;
    gap: 7px;
    margin-bottom: 16px;
    margin-inline-end: 16px;
  }

}