.emailpreview {
  font-weight: bold;
  border: 1px solid transparent;
  padding: 0 13px;
  display: grid;
  grid-template-rows: 1fr;
  /* checkbox, star, from/to/draft, labels, subject, date/actions */
  /* Link should span across several columns */
  grid-template-columns: 2fr 11fr 1fr;
  grid-template-areas: "multi fields action";
}

.emailpreview:hover {
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  mix-blend-mode: multiply;
  grid-template-columns: 2fr 11fr 1fr;
  grid-template-areas: "multi fields action";
}

.emailpreview-multichoise-actions {
  grid-area: multi;
}
.emailpreview-fields {
  grid-area: fields;
  display: grid;
  grid-template-columns: 3fr 6fr 1fr;
  grid-template-areas: "from subject sentat";
}

.emailpreview-emailactions {
  grid-area: action;
  /* display: none; */
}

.emailpreview-from {
  display: inline-block;
  grid-area: from;
}

.emailpreview-subject {
  display: inline-block;
  grid-area: subject;
}

.emailpreview-sentat {
  display: inline-block;
  grid-area: sentat;
}
